<h1>Add a Review for <%= @review.beer.name %> - <%= @review.beer.brewery.name %></h1>
<%= form_for @review do |f| %>
  <div>
    <%= f.label :stars %>
    <%= f.number_field :stars, min:1, max:5 %>
  </div>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <%= f.hidden_field :beer_id %>
  <%= f.submit "Create Review" %>
<% end %>
